nav {
  a {
    box-sizing: border-box;
    margin: 10px 20px;
    padding: 8px;
    cursor: pointer;
    border-radius: 12px;
    background-color: rgb(62, 136, 165);
    color: rgb(230, 252, 230);
    font-weight: 500;
  }
}
